<div class="form-group sidebarborder">
  <label for="status" class="filter-titles f-12 f-bold"  id="status">Status</label>
  <input type="text" class="form-control" id="search"
    placeholder="Search here. . . " (focus)="showModal()" >
</div>
<div class="form-group sidebarborder">
  <label for="status" class="filter-titles f-12 f-bold"  id="status">Name</label>
  <input type="text" class="form-control" id="search"
    placeholder="Search here. . . " (focus)="showModal()" >
</div>
<div class="form-group sidebarborder">
    <label for="status" class="filter-titles f-12 f-bold" id="status">From</label>
  <app-datepicker></app-datepicker>
</div>
<div class="form-group sidebarborder">
    <label for="status" class="filter-titles f-12 f-bold"  id="status">To</label>
  <app-datepicker></app-datepicker>
</div>
<app-modal *ngIf="showIt"
          [modalTitle]="modalTitle"
          (close)="hideModal($event)"></app-modal>
