.sidebarborder{
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px ;
  padding-bottom: 10px;
}

.filter-sec .filter-titles {
  margin: 24px 0 16px;
}
.f-bold {
  font-weight: 700;
}
.f-12 {
  font-size: 12px;
}
.collapsible {
  background-color:white;
  color: black;
  cursor: pointer;
  padding: 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
}

.active, .collapsible:hover {
  background-color: white;
}

.content {
  padding: 0 0px;
  display: none;
  overflow: visible;
  background-color: white;
}



