.sidebarborder{
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px ;
  padding-bottom: 10px;
}

.filter-sec .filter-titles {
  margin: 24px 0 16px;
}
.f-bold {
  font-weight: 700;
}
.f-12 {
  font-size: 12px;
}



